{% extends 'online/layouts/base.html' %}

{% block titulo %}
Iniciar sesión
{% endblock %}

{% block contenido %}
<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Ingresar</h2>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li class="active">Iniciar sesión</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Kenne's Login Register Area -->
<div class="kenne-login-register_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <!-- Login Form s-->
                <form action="{% url 'ingresar_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Iniciar sesión</h4>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label>Correo electrónico</label>
                                <input value="{{ formulario.email.value }}" name="email" type="email" class="{% if formulario.email.errors %} form-control is-invalid {% endif %}">
                                {% if formulario.email.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in formulario.email.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-12 mb--20">
                                <label>Contraseña</label>
                                <input name="password" id="password" type="password" placeholder="Contraseña" class="{% if formulario.password.errors %} form-control is-invalid {% endif %}">
                                {% if formulario.password.errors %}
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in formulario.password.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="kenne-login_btn">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Kenne's Login Register Area  End Here -->
{% endblock %}